.u-section-1 .u-sheet-1 {
  min-height: 1640px;
}

.u-section-1 .u-image-1 {
  width: 468px;
  height: 968px;
  object-position: 50% 100%;
  margin: 0 auto 0 672px;
}

.u-section-1 .u-image-2 {
  width: 651px;
  height: 425px;
  margin: -968px auto 0 0;
}

.u-section-1 .u-image-3 {
  width: 651px;
  height: 1174px;
  margin: 21px auto 0 0;
}

.u-section-1 .u-image-4 {
  width: 468px;
  height: 297px;
  margin: -630px auto 0 672px;
}

.u-section-1 .u-image-5 {
  width: 468px;
  height: 312px;
  margin: 21px auto 21px 672px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-left: 472px;
  }

  .u-section-1 .u-image-2 {
    height: 424px;
  }

  .u-section-1 .u-image-3 {
    height: 1173px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 472px;
  }

  .u-section-1 .u-image-5 {
    height: 313px;
    margin-left: 472px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-left: 252px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 252px;
  }

  .u-section-1 .u-image-5 {
    margin-left: 252px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1368px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 72px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 352px;
  }

  .u-section-1 .u-image-3 {
    width: 540px;
    height: 973px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -430px;
    margin-left: 72px;
  }

  .u-section-1 .u-image-5 {
    margin-left: 72px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 446px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 703px;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 222px;
    margin-top: -703px;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 613px;
  }

  .u-section-1 .u-image-4 {
    width: 340px;
    height: 216px;
    margin-top: -70px;
    margin-left: 0;
  }

  .u-section-1 .u-image-5 {
    width: 340px;
    height: 227px;
    margin-left: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 3002px;
}

.u-section-2 .u-text-1 {
  margin: 19px auto 0;
}

.u-section-2 .u-gallery-1 {
  height: 499px;
  grid-gap: 10px 10px;
  margin: 30px 0 0 auto;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-2 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-image-1 {
  height: 627px;
  animation-duration: 1000ms;
  margin: 19px 0 0 auto;
}

.u-section-2 .u-image-2 {
  height: 366px;
  margin: 30px 0 0 auto;
}

.u-section-2 .u-image-3 {
  height: 461px;
  margin: 30px 0 0 auto;
}

.u-section-2 .u-image-4 {
  height: 458px;
  margin: 30px 0 0 auto;
}

.u-section-2 .u-image-5 {
  width: 570px;
  height: 321px;
  margin: 30px auto 0 0;
}

.u-section-2 .u-image-6 {
  width: 551px;
  height: 321px;
  margin: -321px 0 30px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-4 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2979px;
  }

  .u-section-2 .u-image-5 {
    width: 540px;
    height: 304px;
  }

  .u-section-2 .u-image-6 {
    width: 540px;
    height: 314px;
    margin-top: -304px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2750px;
  }

  .u-section-2 .u-image-5 {
    width: 340px;
    height: 191px;
  }

  .u-section-2 .u-image-6 {
    width: 340px;
    height: 198px;
    margin-top: -191px;
  }
}